html{scroll-behavior: smooth;}
body{
    font-family: 'Baloo Chettan 2', cursive;
}
::selection {
    background-color: #333333;
    color: #c5c5c5;
}
.navbar a{
    color: #ffffff !important; 
}
.navbar a:hover{
    color: #f25454 !important; 
}
.navbar {

    background-color: #4d4d4d89!important;
}
.header-img{
    background-image: url("img/slideshow-1.jpg");
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height: 100vh;
}
.header-img1{
    background-image: url("img/slideshow-2.jpg");
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height: 100vh;
}
.header-img2{
    background-image: url("img/slideshow-3.jpg");
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height: 100vh;
}
.header-img-shadow {
    background-color: rgba(0, 0, 0, 0.483);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    height: 100vh;
}
.header-img-shadow h1{
    font-size: 5rem;
    color: white;
    animation-name: head1;
    animation-duration: 3s;
    font-weight: 900;
    padding: 10px;
    
    font-family: 'Poppins', sans-serif;
}
@keyframes head1{
    0%{
color: transparent;
font-size: 4.79rem;

    }
    100%{
        color: white;
        font-size: 5rem;
    }
}
.main-text{
 width: 40%;
 text-align: center;
}
.f-sec-main h2{
 font-size: 5rem;
 color: rgba(160, 160, 160, 0.537);
 font-family: 'Abril Fatface', cursive;
 font-weight: 500;
}
.f-sec-main h3{
    font-size: 2.5rem;
    font-family: 'Abril Fatface', cursive;
    font-weight: 500;
   }
   .progress-text{
       width: 100%;
       float: right;
   }
.line{
    width: 30px;
    height: 3px;
    background-color: black;
    margin-top: 40px;
}
.f-sec-main:hover .line{
    background-color: #DC3545;
    width: 40px;
}
.thr-box{
    overflow: hidden;

}
.thr-bog img{
    transform: scale(1,1);
  transition-property: transform;
  transition-duration: 2s;

}
.thr-box-shadow{
    position: absolute;
    background-color: rgba(255, 0, 0, 0);
top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    color: transparent;
    transition: 0.5s background-color,0.5s color ;
}
.thr-box:hover .thr-box-shadow{
  
    background-color: rgba(242, 84, 84, 0.85);
    color: wheat;
}
.thr-box img{

    transform: scale(1,1);
    transition: 0.5s transform;
}
.thr-box:hover img{
    transform: scale(1.1,1.1);
}
.hr-box-shadow i{
    padding: 50px;
}
.box-text:hover h3{
    color: #DC3545;
}
.Contact-btn{background-color: #f25454;
color: white;
font-size: 1.2rem;
}
.icon{
    display: inline;
}
.ser-box::before{
    font-family: "Font Awesome 5 Free";
    content: "\f109";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.3rem;
    color: #f25454 ;    
 }
 .ser-box1::before{
    font-family: "Font Awesome 5 Free";
    content: "\f02b";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.3rem;
    color: #f25454 ;
 }
 .ser-box2::before{
    font-family: "Font Awesome 5 Free";
    content: "\f11e";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.3rem;
    color: #f25454 ;
 }
 .ser-box3::before{
    font-family: "Font Awesome 5 Free";
    content: "\f1d8";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    color: #f25454 ;
    font-size: 1.3rem;
 }

 .ser-box4::before{
    font-family: "Font Awesome 5 Free";
    content: "\f1e3";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    color: #f25454 ;
    font-size: 1.3rem;
 }

 .ser-box5::before{
    font-family: "Font Awesome 5 Free";
    content:  "\f025";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 600;
    color: #f25454 ;
    font-size: 1.3rem;
 }

 .ser-box6::before{
    font-family: "Font Awesome 5 Free";
    content:  "\f1ea";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 600;
    color: #f25454 ;
    font-size: 1.3rem;
 }

 .ser-box7::before{
    font-family: "Font Awesome 5 Free";
    content:  "\f03d";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 600;
    color: #f25454 ;
    font-size: 1.3rem;
 }

 .ser-box8::before{
    font-family: "Font Awesome 5 Free";
    content:"\f1c0";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 600;
    color: #f25454 ;
    font-size: 1.3rem;
 }


.ser-text h3:hover{
    color: #f25454 ;
}
.slider-img img{
    height: 100px;
    width: 100px;
    border: none;
    position: absolute;
    border-radius: 50%;
    top: -50;
    box-shadow: 5px 4px 4px rgb(180, 180, 180);
   
}
.slider-img {
    position: relative;
    text-align: center;
}
.ser-slider {
    font-size: 1.2rem;
    border-radius: 10px;
    border: 2px rgba(211, 211, 211, 0.632) solid;
}
.cont-left i{
    font-size: 3.5rem;
    margin-right: 10px;
}
.left-side-text1{
    
    font-size: 2rem;
}
.cont-left::before{
    font-family: "Font Awesome 5 Free";
    content:"\f279";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    color: #f25454 ;
    font-size: 1.3rem;   
}
.cont-left1::before{
    font-family: "Font Awesome 5 Free";
    content:"\f095";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    color: #f25454 ;
    font-size: 1.3rem;   
}
.cont-left2::before{
    font-family: "Font Awesome 5 Free";
    content:"\f0e0";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    color: #f25454 ;
    font-size: 1.3rem;   
}
.input-type{
    width: 90%;
    border: none;
    border: 2px solid rgb(224, 223, 223);
    padding: 7px 0;
}
.last-btn{
    background-color: #f25454;
    border: none;
    padding:15 20 !important;
}
.last-btn:hover{
    background-color: #F38383;
    color: rgb(0, 0, 0);
}
.the-img{
    position: relative;
    clear: both;
    background: rgba(15, 15, 15, 0.932);
    padding-top: 60px;
    height: 70vh;
    padding-bottom: 60px;
    background-size: contain;
    
}
.last-part-img{
    background-image: url("img/dotted-map.png");
}
.the-icon{
  
    position: absolute;

}
.go-to-top{
    position: absolute;
    font-size: 2rem;
    bottom: -32;
    border-radius: 50%;
    padding: 15px;
}
.go-to-top i{
    font-size: 1rem;
    color: white;
}
.last-list{
    float: left;
 
    list-style: none;
}
.the-list a{
    color: #b0b0b0!important;
}
.the-list a:hover{
    color: #dc3545!important;
    text-decoration: none;
}

.last-button{
    color:#b0b0b0 ;
    font-weight: 500;
    border: 1px #b0b0b0 solid;
}
.last-button:hover{
    color:#dc3545 ;
    font-weight: 600;
    border: 1px #dc3545 solid;
}
footer{
    background-color: #1A1A1A!important;
}
.f-left a{
    color: white!important;
}
.f-left a:hover{
    color: #dc3545!important;
}
.f-right a{
    font-size: 1.2rem;
}
.f-right a:hover{
    color: #dc3545!important;
}
.f-right a{
    color: white!important;
    text-decoration: none;
}
.f-right {
color: white;

}